.mainBackground {
    -fx-background-image: url("green.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-padding: 20;
}

.mainTitle{
    -fx-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-align: center;
    -fx-font-family: "Arial";
}

.subTitle{
    fx-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

.skinButton{
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-background-radius: 15;
    -fx-text-fill: #3B3B3B;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 8 12;
    -fx-cursor: pointer;
    -fx-alignment: center;
}